/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  width: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.logo {
  margin-right: 3%;
  width: 20%;
}

#logoNav {
  width: 50%;
  margin-left:5%;
}

.head{
  background-color: #e4d967;
}

#headline {
text-align: right;
}

.formPanel {
  margin-top: 2%;
}

.cardTypeSelector {
  margin-bottom: 2%;
  float: left;
  margin-top: -5%;
}

.yourCardsNavContainer {
  max-height: 50vh;
  overflow: auto;
}

.menuNavBtn {
  float: right;
}




/* Taken from https://davidwalsh.name/css-flip */
/*==========================================================================*/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
 /* .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }
*/
.flip-container, .front, .back {
  width: 500px;
  height: 300px;
  position: relative;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20%;
  background-color: #d6d6c1;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  
}
/*============================================================================*/



.blue{
  background-color: blue;
}

.green {
  background-color: green;
}


